.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.app-link {
  font-size: calc(10px + 2vmin);
  color: #61DAFB;
  text-decoration: underline;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
