.app {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 225px;
}

.app-link {
  color: #61DAFB;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
