@import '../../scss/variables/colors';

@import '../../scss/variables/texts';

.login-form {
  align-items: center;
  background-color: $white-smoke;
  border-top: 8px solid $cian;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 28px 25px 24px;
  width: 100%;
}

.logo {
  height: 70px;
  object-fit: contain;
  width: 212px;
}

.input-container {
  width: 100%;
}

.input {
  height: 32px;
  width: 100%;
}

.input-error {
  color: $red;
  font-size: $font-size-small;
}

.label {
  color: $black;
  font-size: $font-size-medium;
  line-height: 20px;
}

.login-button {
  background-color: $yellow-green;
  border-radius: 5px;
  color: $white;
  font-size: $font-size-medium;
  height: 32px;
  width: 100%;

  &-secondary {
    background-image: url('../../assets/sign-up.png');
    height: 32px;
    width: 100%;
  }
}

.line {
  background-color: $light-grey;
  height: 2px;
  width: 100%;
}

.no-error {
  display: none;
}

.error {
  color: $red;
  display: block;
  font-size: $font-size-large;
}
