$white: #FFF;
$black: #000;
$red: #F00;
$blue: #00F;
$gray: #CCC;

$cian: #00ADEE;
/* stylelint-disable-next-line plugin/stylelint-no-indistinguishable-colors */
$white-smoke: #F4F4F4;
$light-grey: #A8A8A8;
$yellow-green: #BED23C;
